{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<h2>{{ title }}.</h2>
<a href="https://master-water.ru/katalog/kotly-otopitelnye/pelletnye" target="_blank"> <img src="{% static 'app/content/o.png' %}" alt="Logo 1" width= "320" height= "80" /></a>
<a href="https://pskov.teplodar.ru/catalog/section/otopitelnye-kotly/filter/sq_to-from-150/fuel-is-pellety/purpose-is-dlya_doma/price_filter-is-40_000_50_000_r/apply/" target="_blank"> <img src="{% static 'app/content/oo.png' %}" alt="Logo 1" width="280" height="75" /></a>
<a href="https://ru.wikipedia.org/wiki/Топливные_гранулы" target="_blank"> <img src="{% static 'app/content/ooo.png' %}" alt="Logo 1" width="100" height="100" /></a>





{% endblock %}
